# --- GERAL --- #
node_modules/
dist/
build/
.DS_Store
.vscode/

# --- BACKEND --- #
/backend/.env
/backend/dist/

# --- FRONTEND --- #
/frontend/dist/        <-- Ignora a pasta de build (gerada pelo npm run build)
/frontend/dist-ssr/    <-- Ignora o build de Server Side Rendering (se houver)
/frontend/*.local      <-- Ignora arquivos específicos do frontend como .env.local
*.log                  <-- Ignora qualquer arquivo de log no projeto todo