# --- GERAL --- #
node_modules/
dist/
build/
.DS_Store
.vscode/
*.log

# --- BACKEND --- #
/backend/.env
/backend/dist/

# --- FRONTEND --- #
# Ignora a pasta de build (gerada pelo npm run build)
/frontend/dist/ 

# Ignora o build de Server Side Rendering (se houver)
/frontend/dist-ssr/ 

# Ignora arquivos específicos do frontend como .env.local
/frontend/*.local