# Configurações da API
PORT=3000
JWT_SECRET=sua_chave_secreta_aqui

# Conexão MongoDB (Atlas ou Local)
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/nome_do_banco

# Conexões SQL Server
DB_USER=seu_usuario_sql
DB_PASSWORD=sua_senha_sql
DB_DATABASE=projeto_estagio
DB_SERVER=localhost_ou_host.docker.internal